.add-option-error {
    color: $light-purple;
    font-style: italic;
    margin: $reg-size 0 0 0;
    padding: 0 $reg-size;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $reg-size;
}

.add-option__input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 5%);
    color: $light-purple;
    flex-grow: 1;
    margin: 0 0 $small-size 0;
    padding: $small-size;
}

@media (min-width: $desktop-break) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $small-size 0 0;
    }
}