.large-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 15%);
    color: white;
    font-weight: bold;
    font-size: $large-size;
    margin-bottom: $small-size;
    padding: 2.4rem;
    width: 100%;
}

.large-button:disabled {
    opacity: .5;
}

.small-button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem darken ($purple, 15%);
    color: white;
    font-weight: 500;
    padding: $small-size;
}

.button--link {
    background: none;
    border: none;
    color: $light-purple;
    padding: 0;
}
@media (min-width: $desktop-break) {
    .large-button {
        margin-bottom: $xlarge-size;
    }
}