.header {
    background: $dark-gray;
    color: white;
    margin-bottom: $xlarge-size;
    padding: $reg-size 0;
}

.header__title {
    font-size: $large-size;
    margin: 0;
}

.header__subtitle {
    color: $light-purple;
    font-size: $reg-size;
    font-weight: 500;
    margin: 0;
}